
.label__color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
.first {
  background: #eb7ca6;
}

.second {
  background: #ffacc8;
}

.third {
  background: #cc6ff8;
}

.fourth {
  background: #7c5cfc;
}

.fifth {
  background: #5caffc;
}

.sixth {
  background: #a1a9fe;
}



