
.helpingThePoor {
  color: "#ffacc8";
  margin-right: 8px;
}

.torahInstitutions {
  color: #7c5cfc;
  margin-right: 8px;
}
.hachnassasKallah {
  color: #eb7ca6;
  margin-right: 8px;
}
.medicalInstitutions{
  color: #cc6ff8;
  margin-right: 8px;
}