.box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px; /*fix later*/
  }
  .box  {
    font-size: 14px;
  }

    
.transaction-history {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  margin-top: 24px;
}
  