
.overall-spending > h4 {
    color: #596780;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  
  .overall-spending > span {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
  }
  .spending-box {
    position: relative;
  }
  
  .overall-spending {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 32%;
    left: 50%;
    text-align: center;
  }
  

  .pie-chart__labels {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 40px;
  }
  
  .spending-statistics {
    max-height: 338px;
  }
  
  
  .box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px; /*fix later*/
  }
  .box  {
    font-size: 14px;
  }