.side-nav__item 
.side-nav__item-active
.side-nav__item > span {
    letter-spacing: -2%;
    font-weight: 500;
  }
  
  .side-nav__item {
    list-style: none;
    color: #596780;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 0 14px 16px;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .side-nav__item > svg {
    flex-shrink: 0;
  }
  .side-nav__item:hover,
  .side-nav__item-active {
    background-color: #7c5cfc;
    color: white;
  }
  